.more-btn.js-more-btn
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="more-btn__icon">
        <path clip-rule="evenodd" d="M12 22a10 10 0 100-20 10 10 0 000 20z" stroke="#4290C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 8v8M8 12h8" stroke="#4290C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    a.more-btn__link(href="#") Показать еще