<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test Project
        link(rel="stylesheet", href="css/main.min.css")
    body
        .container.flex
            main.main-content
                include html-templates/components/_card.pug
                include html-templates/components/_more-btn.pug
            aside.sidebar
                include html-templates/components/sidebar/_side-bar.pug
        script(src="js/scripts-min.js")